body {
  font-family: palatino linotype, ms pmincho, serif;
  background-color: #ffffff;
  color: #000000;
}

table.guide { 
  width: 100%;
  background-color: #808080;
}

table.header { 
  width: 100%;
}

a.menu {
}

td.headerLeft {
  text-align: left;
  font-family: Helvetica,sans-selif;
  font-size: x-small;
}

td.headerRight {
  text-align: right;
  font-family: Helvetica,sans-selif;
  font-size: x-small;
}

td.selected {
  width: 100%;
  border-width: medium;
  border-style: solid;
  border-color: #ff8000;
  background-color: #c08040;

  vertical-align: top;
  white-space: nowrap;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 0.5em;
}

td.unselected {
  width: 100%;
  border-width: medium;
  border-style: solid;
  border-color: #808080;

  vertical-align: top;
  white-space: nowrap;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 0.5em;
}

p.title { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p.section { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p.subsection { 
/*
  font-family: helvetica,arial,sans-serif;
*/
  font-weight: bold;
  font-size: large;
}

p.footnote { 
  font-size: small;
}

sup {
  vertical-align: baseline;
}

td.guideMenu {
  vertical-align: top;
  padding-top: 1em;
  padding-bottom: 1em;

}

td.guideText {
  font-family: palatino linotype, ms pmincho, serif;
  vertical-align: top;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
}

address {
  text-align: right;
  font-family: Helvetica,sans-selif;
  font-size: x-small;
}

td.figure {
  text-align: center;
  white-space: nowrap;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: small;
}
