body {
  font-family: palatino linotype, ms pmincho, serif;
  background-color: #ffffff;
  color: #000000;
}

p.title { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

p.section { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p.subsection { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: large;
}

p.subsubsection { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: medium;
}

dt {
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
}

tt {
  font-family: courier new, ms gothic, monospace;
  font-size: smaller;
}
