body {
  font-family: palatino linotype, ms pmincho, serif;
  background-color: #ffffff;
  color: #000000;
}

p { 
  word-break: break-all;
}

p.title { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p.section { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: x-large;
}

p.subsection { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: large;
}

p.subsubsection { 
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: medium;
}

address {
  text-align: right;
  font-family: Helvetica,sans-selif;
  font-size: x-small;
}

pre {
  font-family: courier new, ms gothic, monospace;
  border: thin groove;
  padding: 1ex;
}

tt {
  font-family: courier new, ms gothic, monospace;
}
